  body {
    margin: 0;
    color: #000;
    background-color: #f8f8f8;
  }

#filter {
    display: none;
  }

.title-logo {
    height: 65%;
  }

hr {
  	display: none;
}

h2 {
  margin-top: 1cm;
  font-size: 150%;
  width: 100%;
}

div.article-details {
   width: 600px;
   font-size: 250%;
}

img.article-image {
  max-height: 280px;
  width: 600px;
  display: block;
  margin-top: 1cm;
  margin-bottom: 1cm;
  margin-left: auto;
  margin-right: auto; 
}

p.article-link {
  width: 100%;
}