  body {
    margin: 0;
    color: #000;
    background-color: #f8f8f8;
  }

#filter {
    display: none;
  }

.title-logo {
    height: 65%;
  }


article {
   width: 100%;
}

hr {
  	display: none;
}

h2 {
  margin-top: 1cm;
  font-size: 28pt;
  width: 21cm;
  line-height: normal;
}

p.article-text {
   font-size: 14pt;
   font-style: italic;
   font-weight: bold;
   position: inline;
   width: 24cm;
   top: 1cm;
   right: 1cm;
   margin-top: -0.5cm;
   text-align: justify;
   text-justify: inter-word;
}

p.article-credits {
   font-size: 21pt;
   display: block;
   width: 25cm;
}

div.article-details {
   margin-top: 1cm;
   width: 25cm;
}

div.watermark {
    display: flex;
    position: fixed;
    top:10px;
    right:10px;
    width: 200px;
  }

img.article-image {
  display: flex;
  max-width: 450px;
  max-height: 360px;
  overflow: hidden;
  margin-top: 1cm;
  margin-left: 0.0cm;
  margin-bottom: 1cm;
  margin-right: 30px; 
}

img.mosaic-image
{
  display: block;
  width: 280px;
  height: 140px;
  overflow: hidden;
  margin-top: 0cm;
  margin-left: 0cm;
  margin-bottom: 0cm;
  margin-right: 0cm; 
}

p {
  width: 25cm;
}

footer.inf-footer {
  display: none;
}

table.Top-Picks tr td { font-size: 14pt; }

table.Top-Picks {
 margin-top: 3cm; 
}

table.mosaic-banner tr td { font-size: 14pt; }

table.mosaic-banner {
 position: relative;
 margin-left: -2cm;
 margin-right: -2cm;
 width: 120%;
 margin-top: 4cm;
 page-break-before: always;
 page-break-after: always; 
}

""