  body {
    margin: 0;
    color: #000;
    background-color: #f8f8f8;
  }

#filter {
    display: none;
  }

.title-logo {
    height: 65%;
  }


article {
   width: 100%;
}

hr {
  	display: none;
}

h2 {
  margin-top: 1cm;
  font-size: 28pt;
  width: 21cm;
  line-height: normal;
}

p.article-text {
   font-size: 14pt;
   font-weight: bold;
   display: flex;
   width: 20cm;
   margin-top: -0.5cm;
   text-align: justify;
   text-justify: inter-word;
}

p.article-credits {
   font-size: 21pt;
   display: block;
   width: 25cm;
}

div.article-details {
   margin-top: 1cm;
   width: 25cm;
}

div.watermark {
    display: flex;
    position: fixed;
    top:10px;
    right:10px;
    width: 200px;
  }


img.article-image {
  display: flex;
  max-width: 20cm;
  max-height: 7.2cm;
  margin-top: 1cm;
  margin-left: 0.0cm;
  margin-bottom: 1cm;
  margin-right: 30px; 
  background-color: #ffffff;
}

p {
  width: 25cm;
}